[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
        rrr = rerere
[color]
	branch = auto
	diff = auto
	status = auto
[github]
	user = baverman
	token = 7c48d68173b3b466864f05e0e3768c78
[user]
	name = Anton Bobrov
	email = baverman@gmail.com

[push]
	default = simple
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[difftool "vimdiff"]
	;path = vim-term-fix
        cmd = vim-term-fix -d $LOCAL $REMOTE

[pager]
    branch = false

[tig]
    diff-highlight = diff-highlight
[pull]
	ff = only
[init]
	defaultBranch = main
[rerere]
	enabled = true
